asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
cloudinary==1.42.2
Django==3.2.25
django-cloudinary-storage==0.3.0
djangorestframework==3.12.4
idna==3.10
pillow==11.1.0
pytz==2025.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
urllib3==2.3.0
